.DS_Store
__pycache__
/Users/quanefiom/desktop/github_projects/Chapter 11/__pycache__/
/Users/quanefiom/desktop/github_projects/Chapter 11/Exercise_11-1/tempCodeRunnerFile.py
/Users/quanefiom/desktop/github_projects/Chapter 11/Exercise_11-1/tempCodeRunnerFile.py